/* Interativo drag n drop */
/* 
    #97C4F0 
    #EDDDA1
    #FFBB33
*/
* {
    box-sizing: border-box;
}

.oda-dos-donts .game-body {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(215, 215, 215, 1) 0%, rgba(151, 196, 240, 1) 100%);
    border: 5px solid #fff;
    border-radius: 20px;
    width: 100%;
    /* margin: 100px 0px 30px; */
}

.oda-dos-donts .card {
    display: inline-block;
    height: auto;
    width: 175px;
    margin: 5px;
    box-shadow: 2px 2px 3px #333;
    border-radius: 10px;
    background-position: center;
    background-size: 152px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    background-color: white;
}

.oda-dos-donts .card.correto {
    position: relative;
}

.oda-dos-donts .card.correto::after {
    content: '';
    width: 28px;
    height: 28px;
    background-image: url('../img/check-solid.svg');
    background-size: 24px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 128, 134);
    border-radius: 100%;
    position: absolute;
    top: -8px;
    right: -12px;
}

.oda-dos-donts .card:hover {
    box-shadow: 5px 5px 6px #333;
}

.oda-dos-donts .card p {
    color: black !important;
}



.oda-dos-donts .game-descricao {
    background-color: #fff;
    padding: 20px 0 0px 20px;
    margin-top: 20px;
    border-radius: 30px;
}

.oda-dos-donts .game-descricao-img {
    position: relative;
}

.oda-dos-donts .game-itens-container {
    padding: 25px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: transparent;
    max-width: 95%;
    margin: 0 auto;
}

.oda-dos-donts .game-descricao-img img {
    width: 150px;
    position: absolute;
    top: -55px;
}

.oda-dos-donts .game-descricao p {
    color: #333 !important;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: initial;
    text-align: center;
}

.oda-dos-donts .game-body .slot {
    height: auto;
    width: 100%;
    background-color: transparent;
    border: 3px dashed white;
    border-top-color: white;
    border-top-style: dashed;
    border-top-width: 1px;
    color: #333;
    display: inline-block;
    text-align: center;
    padding-bottom: 22px;
    padding-top: 22px;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 230px;
    margin: auto;
    display: block;

}

.oda-dos-donts .game-titulo p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.oda-dos-donts .game-titulo {
    background-color: white;
    padding: 10px;
    text-align: center;
    color: #018085;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: bold;
    max-width: 230px;
    display: block;
    margin: auto;
    width: 100%;
}

.oda-dos-donts .ui-droppable p {
    font-size: 18px;
}

.oda-dos-donts #slots .row,
.oda-dos-donts #cardPile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.oda-dos-donts #content-game {
    max-width: 928px;
    margin: auto;
    margin-top: 45px;
}

.modal-header {
    background-color: #008086;
    color: white;
}

/* Para não permitir o drag de novo de objetos que já estão posições corretas */
.oda-dos-donts .slot * {
    pointer-events: none;
    touch-action: none;
}

/* Para não exibir pra onde o usuário vai levar o card. */
.oda-dos-donts .slot .gu-transit {
    display: none;
}

.oda-dos-donts .modal-content p {
    margin-top: 10px;
    margin-bottom: 0;
}

.oda-dos-donts .modal-footer {
    border-top: none;
}

@media (max-width:560px) {

    /* #bgmodal-acerto .modal-content{
        margin-top: -200%;
    }
    #bgmodal-erro .modal-content{
        margin-top: -200%;
    } */
    .oda-dos-donts #slots .col-12.col-md-4.mt-3.mb-3 {
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }

    .oda-dos-donts #slots .row,
    .oda-dos-donts #cardPile {
        padding-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .oda-dos-donts .game-body .slot,
    .oda-dos-donts .game-titulo {
        max-width: 100%;
    }

    .oda-dos-donts .card {
        display: inline;
    }
}