.oda-cultural-differences {
	.obj-cultural {
		background-color: #5e7991;
		border-radius: 20px;
		padding: 2%;
	}

	.intro-corpo {
		color: white;
		padding: 1%;
		font-size: 18px;
	}

	.nome-pais {
		padding: 10px;
		text-align: center;
		line-height: 20px;
		cursor: move;
		border-radius: 10px;
		margin: 1%;
		font-weight: bold;
	}

	.nome-pais:hover {
		background-color: #5e7991;
		color: white;
	}

	.opcoes {
		// margin: 1%;
		background-color: #dbf1fd;
		border-radius: 20px;
	}

	.item {
		width: 91%;
		height: 87px;
		padding: 37px;
		border-radius: 10px;
		background-color: #ff9200;
		color: white;
		display: flex;
		align-content: center;
		gap: 10px;
		align-items: center;
		font-weight: bold;
		border: 2px dashed rgb(255, 255, 255);
		margin: 4%;
		font-size: -1px;
	}

	.item::before {
		content: "";
		font-size: 30px;
		font-weight: bold;
		position: relative;
	}

	.item p {
		text-align: center;
		width: 100%;
		padding: 0px;
		margin: 0px;
		font-size: 20px;
	}

	.item.acertou {
		border: #008086;
		background-color: #008086;
		border-color: #008086;
	}

	.item.errou {
		border: #e93535;
		background-color: #e93535;
	}

	.item1::before {
		content: "1"
	}

	.item2::before {
		content: "2"
	}

	.item3::before {
		content: "3"
	}

	.item4::before {
		content: "4"
	}

	.item5::before {
		content: "5"
	}

	.item6::before {
		content: "6"
	}

	.item7::before {
		content: "7"
	}

	.item8::before {
		content: "8"
	}

	.item9::before {
		content: "9"
	}

	.item10::before {
		content: "10"
	}

	.costume {
		background-color: #dbf1fd;
		border-radius: 9px;
		padding: 2px;
		margin: 8px;
		padding-inline: 13px;
	}

	.modal-correto {
		background-color: #008086;
		color: white;
		font-weight: bold;
		font-size: 25px;
	}

	.modal-errado {
		background-color: #e93535;
		color: white;
		font-weight: bold;
		font-size: 25px;
	}
}

#feedback-modal-positivo .modal-header,
#feedback-modal-negativo .modal-header {
	border-radius: 5px;
}
#feedback-modal-negativo .modal-header {
	background-color: #e93535;
}
#feedback-modal-positivo .modal-header h1,
#feedback-modal-negativo .modal-header h1 {
	padding: 10px;
}

#feedback-modal-positivo .modal-body,
#feedback-modal-negativo .modal-body {
	border-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border: none;
}

#feedback-modal-positivo .modal-footer,
#feedback-modal-negativo .modal-footer {
	background-color: white;
}