$green: rgb(110, 220, 128);
$red: salmon;

.ODA_ingles_form {
    width: fit-content;
    padding: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px auto;
    background: rgb(151, 196, 240);
    background: linear-gradient(180deg, rgba(151, 196, 240, 1) 0%, rgba(237, 221, 161, 1) 100%);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    
    h2 {
        margin-top: 0;
        margin-bottom: 40px;
        color: #333;
    }

    table {
        border: 1px solid #333;
        border-collapse: collapse;
        width: 510px;
        max-width: 100%;
    }

    table tr {
        position: relative;
        background-color: #A1C0EB;
        transition-duration: .2s;
        
        &.errado {
            background-color: $red;

            &::after {
                content: '';
                position: absolute;
                height: 16px;
                width: 16px;
                right: -25px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('../img/x.svg');
            }
        }

        &.correto {
            background-color: $green;

            &::after {
                content: '';
                position: absolute;
                height: 16px;
                width: 16px;
                right: -25px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('../img/check.svg');
            }
        }
    }

    table th {
        background-color: rgb(0, 155, 220);
        padding: 5px 15px;
        font-weight: 600;
    }

    table td {
        padding: 5px 10px;
        border-collapse: collapse;
    }

    select {
        width: 100%;
        height: 100%;
        background-color: white;
        border: 1px solid #333;
        padding: 5px;
        cursor: pointer;

        &:hover {
            box-shadow: 1px 1px 2px #333;
        }
    }

    .check {
        cursor: pointer;
        background-color: #D8652A;
        border: 1px solid #D8652A;
        color: white;
        padding: 8px 25px;
        font-size: 15px;
        margin-top: 15px;
        transition-duration: .3s;
        border-radius: 5px;
        font-weight: 600;
    }

    .check:hover {
        background-color: white;
        color: #D8652A;
        transition-duration: .3s;
    }
}
@media (max-width: 600px) {
    .ODA_ingles_form {
        width: unset;
    }
}