:root {
  --size: 20px;
  --corFundo: #272324;
  --corCafe: #48A8E0;
  --corVermelhoEscuro: #3D8EBE;
  --corVermelho: #4AAEE8;
}

.oda-describing-symptoms h1 {
  font-size: 36px;
}
.oda-describing-symptoms .caixa-de-chat {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  border: 2px solid white;
  background-color: rgba(90, 170, 255, 0.2);
}
.oda-describing-symptoms .btn-chat {
  margin-bottom: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.oda-describing-symptoms .perfil-img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-right: 10px;
}
.oda-describing-symptoms .img-direita {
  margin-left: 10px;
}
.oda-describing-symptoms .mensagem {
  display: flex;
  align-items: center;
}
.oda-describing-symptoms .mensagem-texto {
  background-color: white;
  color: #333;
  border: 1px solid #acacac;
  margin: 8px;
  display: flex;
  align-items: center;
  padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  max-width: 500px;
}
.oda-describing-symptoms .mensagem-texto p {
  margin: 0;
  line-height: 20px;
}
.oda-describing-symptoms .mensagem .content {
  padding: 10px;
  background-color: #e6f7ff;
  border: 1px solid #b3d9ff;
  border-radius: 10px;
  margin-bottom: 10px;
}
.oda-describing-symptoms .continuarChat {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  margin: 1rem;
  width: fit-content;
}
.oda-describing-symptoms .msgDigitando {
  color: #007bff;
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oda-describing-symptoms .loading {
  --animacao: 1100ms;
}
.oda-describing-symptoms .loading .bolinha {
  --size: 20px;
  --item-size: calc(var(--size) / 2);
  width: var(--item-size);
  height: var(--item-size);
  display: inline-block;
  margin: 0 1px;
  border-radius: 50%;
  border: 3px solid var(--clr-spinner);
  animation: spinner-bolinha var(--animacao) ease-in-out infinite;
  margin: 1px;
}
@keyframes spinner-bolinha {
  0%, 100% {
    transform: translateY(40%);
  }
  50% {
    transform: translateY(-40%);
  }
}
.oda-describing-symptoms .loading .bolinha:nth-child(1) {
  --clr-spinner: var(--corVermelho);
  animation-delay: calc(var(--animacao) / 6 * -1);
}
.oda-describing-symptoms .loading .bolinha:nth-child(2) {
  --clr-spinner: var(--corVermelhoEscuro);
  animation-delay: calc(var(--animacao) / 6 * -2);
}
.oda-describing-symptoms .loading .bolinha:nth-child(3) {
  --clr-spinner: var(--corCafe);
  animation-delay: calc(var(--animacao) / 6 * -3);
}
.oda-describing-symptoms .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.oda-describing-symptoms .material-symbols-outlined {
  font-size: 40px !important;
}
.oda-describing-symptoms .icone-volume {
  margin-right: 10px;
  fill: #007bff;
  width: 90px;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 30px;
  transform: translateY(-50%);
}
.oda-describing-symptoms .controle-som:hover .icone-volume {
  fill: #A3C2ED;
}
.oda-describing-symptoms .controle-som i {
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
