.ODA_ingles_write_words {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: rgb(151, 196, 240);
    background: linear-gradient(180deg, rgba(151, 196, 240, 1) 0%, rgba(237, 221, 161, 1) 100%);
    padding: 15px 35px;
    width: 420px;
    margin: 25px auto;
    border-radius: 20px;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 276px;
        margin: auto;
        padding-top: 15px;
    }

    h2 {
        margin-top: 0;
        color: #333;

    }

    label {
        width: 30px;
    }

    .input_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        padding: 10px 15px;
        border-radius: 7px;
        transition-duration: .3s;
    }

    .input_container input {
        border: none;
        border-bottom: 1px solid #333;
        margin: auto 15px;
        background-color: transparent;
    }

    .input_container.correct {
        position: relative;
        background-color: rgb(110, 220, 128);
        transition-duration: .3s;
    }

    .input_container.correct::after {
        content: '';
        position: absolute;
        height: 16px;
        width: 16px;
        right: 8px;
        top: 52%;
        transform: translateY(-50%);
        background-image: url('../img/check.svg');
    }

    .input_container.wrong {
        position: relative;
        background-color: salmon;
        transition-duration: .3s;
    }

    .input_container.wrong::after {
        content: '';
        position: absolute;
        height: 16px;
        width: 16px;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../img/x.svg');
    }

    .check {
        cursor: pointer;
        background-color: #D8652A;
        border: 1px solid #D8652A;
        color: white;
        padding: 8px 25px;
        font-size: 15px;
        // letter-spacing: 1px;
        margin-top: 0px;
        margin-bottom: 20px;
        transition-duration: .3s;
        border-radius: 5px;
        font-weight: 600;
    }

    .check:hover {
        background-color: white;
        color: #D8652A;
        transition-duration: .3s;
    }
    .feedback {
        text-align: left;
        position: relative;
        height: 20px;
        width: 270px;
        padding-top: 5px;
        padding-left: 5px;

        .answer-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 12px;
            position: absolute;
            opacity: 0;
            transition-duration: .3s;
            pointer-events: none;
            &.active {
                pointer-events: all;
                opacity: 1;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        p {
            font-size: 12px;
            position: absolute;
            width: 100%;
            margin: 0;
            opacity: 0;
            transition-duration: .3s;
            pointer-events: none;
            &.active {
                
                opacity: 1;
            }
        }
    }
}