body{
	background: url('../img/background.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
header{
	background: url('../img/topo.png') no-repeat;
	background-size: cover;
	background-position: center;
	height: 120px;
}
h2{
	text-align: left;
	text-transform: unset;
	font-size: 26px;
	color: #907766;
	margin-left: 0;
}
h4{color: #d8652a;}
.figure-caption{
	font-family: rubik;
	color: #000;
}
.bloco-azul{
	background: url('../img/ilustra_topo.png') no-repeat right 40% center / 12%, #282f65;
	padding: 40px 0;
}
.bloco-azul p, .bloco-azul li{color: #fff;}
.bloco-azul li{
	list-style: none;
	background: url('../img/ico_check.png') no-repeat left center;
	background-size: 20px;
	padding-left: 30px;
	margin-bottom: 10px;
}
.bloco-branco{padding: 40px 0;}
h3{color: #c0101a;}
#slots .box{
	width: 210px;
	margin: 7px;
}
.game-body .slot .card{width: 94%;}
.game-body .slot{
	border: 5px solid #c0101a;
	border-radius: 10px;
	background: #dbe1ec;
	padding: 15px 0;
}
.game-titulo{
	background: #c0101a;
	width: 30px;
	border-radius: 30px;
	padding: 3px;
}
.game-body .card{
	background: #abc1eb;
	border: none;
	color: #000;
	text-transform: unset;
	font-family: rubik;
}
.practice{
	background: #a3c2ed;
	padding: 5px 20px;
	border-radius: 20px;
	padding-left: 250px;
	position: relative;
	margin: 100px auto;
	display: block;
}
.practice::before{
	content: '';
	position: absolute;
	width: 226px;
	height: 131px;
	background: url('../img/ico_practice.png') no-repeat;
	left: 0;
	top: -20px;
}
.practice p{margin-bottom: 0;}
.important-note{
	background: #a3c2ed;
	padding: 5px 20px;
	border-radius: 20px;
	padding-left: 250px;
	position: relative;
	margin: 100px auto;
	display: block;
}
.important-note::before{
	content: '';
	position: absolute;
	width: 219px;
	height: 128px;
	background: url('../img/ico_important.png') no-repeat;
	left: 0;
	top: -20px;
}
.important-note p{margin-bottom: 0;}
.bloco-azulclaro{
	background: #a3c2ed;
	padding: 40px 0;
}
.bloco-azulclaro .practice{background: #fff;}

figcaption{word-wrap: break-word;}

.bloco-azulclaro .important-note{
	background: #e88053;
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.important-note::before{
	left: 0;
	right:0;
	margin: auto;
	top: -100px;
}
table{
	border-radius: 0;
	width: 225px !important;
}
table td{
	background: #272f64;
	color: #fff;
	border-color: #fff;
	border-left-width: 2px;
}
table tr td:first-child{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
table tr td:last-child{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.multipla-escolha button::before{
	color: #000;
	font-weight: normal;
	background: #fff;
}

.carlos{
	margin: 0;
	background: url('../img/ico_carlos.png') no-repeat;
	padding-left: 50px;
	background-size: 30px;
	min-height: 30px;
	margin-bottom: 10px;
}
.salesperson{
	margin: 0;
	background: url('../img/ico_salesperson.png') no-repeat;
	padding-left: 50px;
	background-size: 30px;
	min-height: 30px;
	margin-bottom: 10px;
}
.bege{color:#967056;}
.azul{color:#272f64;}

.laranja{color:#d8652a;}

.bloco-branco.stores{
	background-image: url('../img/ilustra_1.png'), url('../img/ilustra_2.png'), url('../img/ilustra_3.png');
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: right 5% top 10%, left 5% center, right 5% bottom 20%;
}
.bloco-azulclaro.supermarket{
	background-image: url('../img/ilustra_4.png'), url('../img/ilustra_5.png'), url('../img/ilustra_6.png');
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: left 5% top 10%, right 5% top 25%, left 5% bottom 30%;
}

@media screen and (max-width: 1280px){
	.bloco-branco.stores, .bloco-branco.supermarket, .bloco-azulclaro.supermarket{background-image: none;}
}
@media screen and (max-width: 1180px){
	.practice.dialogo{margin-top: 160px;}
	.practice.dialogo::before{
		left: 0;
		right:0;
		margin: auto;
		top: -100px;
	}
	.carousel-control-next{right: -55px;}
	.carousel-control-prev{left: -55px;}
	
}
@media screen and (max-width: 990px){
	.carousel .carousel-item{min-height: unset;}
	.bloco-azul{
		background-image: none;
	}
}
@media screen and (max-width: 780px){
	.carousel-control-next{
		right: 0;
		bottom: 200px;
		top: unset;
	}
	.carousel-control-prev{
		left: 0;
		bottom: 200px;
		top: unset;
	}
	.practice{
		margin-top: 160px;
		padding-left: 20px;
		padding-top: 40px;
	}
	.practice::before{
		left: 0;
		right:0;
		margin: auto;
		top: -100px;
	}
	
}
